html.yt-companion-hide-comments #comments,
html.yt-companion-hide-comments ytd-comments {
  display: none !important;
}

html.yt-companion-hide-suggestions #secondary,
html.yt-companion-hide-suggestions ytd-watch-next-secondary-results-renderer,
html.yt-companion-hide-suggestions ytd-related-chip-cloud-renderer {
  display: none !important;
}
html.yt-companion-panel-open,
html.yt-companion-panel-open body,
html.yt-companion-panel-open ytd-app,
html.yt-companion-panel-open ytd-page-manager,
html.yt-companion-panel-open #page-manager,
html.yt-companion-panel-open #content,
html.yt-companion-panel-open #primary,
html.yt-companion-panel-open ytd-watch-flexy {
  scrollbar-width: none !important;
}

html.yt-companion-panel-open::-webkit-scrollbar,
html.yt-companion-panel-open body::-webkit-scrollbar,
html.yt-companion-panel-open ytd-app::-webkit-scrollbar,
html.yt-companion-panel-open ytd-page-manager::-webkit-scrollbar,
html.yt-companion-panel-open #page-manager::-webkit-scrollbar,
html.yt-companion-panel-open #content::-webkit-scrollbar,
html.yt-companion-panel-open #primary::-webkit-scrollbar,
html.yt-companion-panel-open ytd-watch-flexy::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}


html.yt-companion-focus-player ytd-masthead,
html.yt-companion-focus-player #masthead-container,
html.yt-companion-focus-player #below,
html.yt-companion-focus-player ytd-watch-metadata,
html.yt-companion-focus-player ytd-merch-shelf-renderer,
html.yt-companion-focus-player ytd-structured-description-content-renderer,
html.yt-companion-focus-player ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-structured-description"] {
  display: none !important;
}

html.yt-companion-focus-player ytd-watch-flexy,
html.yt-companion-focus-player ytd-watch-flexy[theater],
html.yt-companion-focus-player ytd-watch-flexy:not([theater]) {
  --ytd-watch-flexy-masthead-height: 0px !important;
  --ytd-watch-flexy-top-margin: 0px !important;
}

html.yt-companion-focus-player ytd-watch-flexy #player-theater-container,
html.yt-companion-focus-player ytd-watch-flexy #player-container,
html.yt-companion-focus-player ytd-watch-flexy #player-container-outer {
  margin-top: 0 !important;
}
